* {
  margin: 0px;
  padding:0px;
  color: white;
  font-family: 'Courier Prime', monospace;
}

.body {
  background-image: url(./pexels-scott-webb-1544947.jpg);
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  flex-flow: column;
  font-size: 16px;
  opacity: 1;
}
.header {
  /*outline: 1px solid black;
  /*background: #4f772d;*/
  height: 3rem;
}
.container {
  display: flex;
  height: inherit;
}
.content {
  /*outline: 1px solid black;
  /*background: #31572c;*/
  flex: 1 1 auto; /* flex-grow flex-shrink flex-basis*/
}

.header__menu {
  display: flex;
  background: rgba(79, 93, 117, 0.5);
}

.header__menu--item {
  line-height: 3rem;  /* Misma altura que el contenedor padre, sirve solo para una linea*/
  list-style: none;
  flex: 1;
  text-align: center;
  transition: flex .5s;
  border-right: 3px solid black;
}
.header__menu--item:hover {
  flex: 8;
  background: rgba(79, 93, 117, 0.7);
  cursor: pointer;
}

.footer {
  /*outline: 1px solid black;
  /*background: #132a13;*/
  height: 6rem;
  margin-top: auto;
  background: rgba(79, 93, 117, 0.5);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer a:link {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
